
body {
    background-image:url("../Images/back-ground.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#tutorialImage{
    margin-top: 150px;
    width: 60%;
    height: 65%;
    border-radius: 2%;
    border-style: double;
    border-color: grey;
    border-width: 5px;

}

.download-link {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: OCR A Std, monospace;
    font-size: 25px;
}
.download-link a{
    color: mediumpurple;
    text-decoration: none;
    font-size:30px;
    font-weight: bold;
    transition: all 0.5s;
}

.download-link a:hover{
    color: rebeccapurple;
}

