body{
    background-color: floralwhite;
}
p {
    position: relative;
    top: 80%;
    left: 5%;
    margin: 0;
    max-width: 40%;
    font-weight: 300;
    color: rebeccapurple;
    font-style: initial;
    font-family: "Berlin Sans FB", sans-serif;
    font-size: 20px;
}
.banner{
    background-image: url('../Images/ingame.png');
}
.citation{
    position: absolute;
    z-index: 1;
    top:40%;
    color: white;
    font-family: Berlin Sans FB, sans-serif;
    font-size: 70px;
    left: 5%;
}
.citation span{
    color: #fb911f;
}

#firstimage{
    justify-content: center;
    padding: 0;
    margin: 0;
}
