body {
    background-image:url("../Images/back-ground.png");
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.video-container h1{
    padding-top: 150px;
}

h1{
    font-family: 'Andale Mono', monospace;
    font-size: 70px;
    font-weight: bold;
    color: mediumpurple;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
}

.content{
    margin: auto;
    background-color: floralwhite;
    border-radius: 10px;
    width: 2000px;
    border: 10px double grey;


}
.content p{
    font-family: OCR A Std, monospace;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    padding-left: 50px;
}
.video-container {
    width: auto;
    margin: auto;
    padding-bottom: 150px;
}

video{
    padding-top: 50px;
    margin: 0 auto;
    display: block;
    justify-content: center;
}