table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 150px;
    margin-right: 150px;
    justify-content: center;
    margin: 150px auto;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: large;
    color: dimgrey;
}

p{
    margin-top: 50px;
}
