body {
    background-image:url("../Images/back-ground.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.content h1{
    font-family: 'Andale Mono', monospace;
    font-size: 40px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: grey;
}
.content {
    color: mediumpurple;

    max-width: 600px;
    padding: 20px;
    text-align: left;
    margin-right: auto;
    margin-left: 200px;
}
.video-container {
    width: 300px;
    margin-right: 400px;
}
