body{
    background-image:url("../Images/back-ground.png");
}
table {
    width: 80%;
    border-collapse: collapse;
    justify-content: center;
    margin: 150px auto;
    background-color: grey;
}

td{

}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px;

}
th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: xx-large;
    color: rebeccapurple;
    font-family: OCR A Std, monospace;
}
section{
    margin: 50px auto;
    max-width: 80%;
    background-color: floralwhite;
    justify-content: center;
    border-radius: 20px;
    border-style: double;
    border-color: grey;
    border-width: 10px;
}

p{

    text-align: center;
    z-index: -1;
    padding: 10px;
    margin:50px;
    font-weight: 300;
    color: rebeccapurple;
    font-family: OCR A Std, monospace;
    font-size: 25px;
}

